@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 270 33% 98%;
    --foreground: 240 10% 14%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 14%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 14%;

    --primary: 260 85% 45%;
    --primary-foreground: 0 0% 100%;

    --secondary: 260 95% 33%;
    --secondary-foreground: 0 0% 100%;

    --accent: 50 90% 58%;
    --accent-foreground: 35 75% 12%;

    --muted: 270 10% 96%;
    --muted-foreground: 240 5% 65%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 270 13% 91%;
    --input: 270 13% 91%;
    --ring: 260 85% 45%;

    --radius: 0.5rem;

    /* Sidebar variables */
    --sidebar-background: 260 85% 45%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 0 0% 100%;
    --sidebar-primary-foreground: 260 85% 45%;
    --sidebar-accent: 260 95% 33%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 260 95% 33%;
    --sidebar-ring: 0 0% 100%;
  }

  .dark {
    --background: 240 10% 10%;
    --foreground: 270 10% 98%;

    --card: 240 10% 14%;
    --card-foreground: 270 10% 98%;

    --popover: 240 10% 14%;
    --popover-foreground: 270 10% 98%;

    --primary: 260 85% 40%;
    --primary-foreground: 0 0% 100%;

    --secondary: 260 95% 25%;
    --secondary-foreground: 0 0% 100%;

    --accent: 50 80% 50%;
    --accent-foreground: 0 0% 0%;

    --muted: 240 5% 20%;
    --muted-foreground: 240 5% 65%;

    --destructive: 0 74% 50%;
    --destructive-foreground: 0 0% 100%;

    --border: 240 5% 25%;
    --input: 240 5% 25%;
    --ring: 260 85% 40%;

    /* Sidebar variables */
    --sidebar-background: 240 10% 14%;
    --sidebar-foreground: 270 10% 98%;
    --sidebar-primary: 260 85% 40%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 5% 20%;
    --sidebar-accent-foreground: 270 10% 98%;
    --sidebar-border: 240 5% 25%;
    --sidebar-ring: 260 85% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

